.header-bg {
  background-color: #264653;
}
.button-color {
  background-color: #e76f51;
}
.img-gray {
  filter: grayscale(100%);
}
.fa-rating {
  color: #bd5214;
}
.client-text-color {
  color: #e76f51;
}
